# file options
--exclude Carthage,.build,.swiftpm,.git,.swiftpm

# format options
--indent 4
--ifdef no-indent
--header strip
--self init-only
--stripunusedargs closure-only

# diable options
--disable trailingCommas,redundantReturn,blankLinesAtStartOfScope,blankLinesAtEndOfScope,numberFormatting,andOperator,hoistPatternLet
